bb-logo-ui {
    .bb-logo--emblem {
    width: 40px;
    height: 40px;
    padding: 0;
    padding-block-start: 69.2307692308%;
    background-image: url('../../../assets/images/logo-emblem.svg');
    background-repeat: no-repeat;
    background-position: center;
}
}